$red = #800000
$green = #41B883
$blue = #8ED6FB
$violet = #54A
$sideSize = 170px
$green = #41B883
$sideColor = #41B883
$card = #2B2A34
$spotify-green = rgb(30, 215, 96)
$spotify-black = rgb(25, 20, 20)